<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062827592087-uh3v407bqa8jr66e2dc19vd50cbrru7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062827592087-uh3v407bqa8jr66e2dc19vd50cbrru7k</string>
	<key>API_KEY</key>
	<string>AIzaSyAhc-Qg-1rquFO3yieIoItI7CACReACZuU</string>
	<key>GCM_SENDER_ID</key>
	<string>1062827592087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.volkangoren.MessageAppStoryboard</string>
	<key>PROJECT_ID</key>
	<string>messageappstoryboard</string>
	<key>STORAGE_BUCKET</key>
	<string>messageappstoryboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062827592087:ios:69dceaab2315319e9bdcd2</string>
	<key>DATABASE_URL</key>
	<string>https://messageappstoryboard.firebaseio.com</string>
</dict>
</plist>